<div class="searchbox">
  <form
    class="search-container"
    #cityForm="ngForm"
    (ngSubmit)="onSubmitCityName(cityForm.value)"
  >
    <input
      type="text"
      id="search-bar"
      placeholder="Enter City Name...."
      name="city"
      [(ngModel)]="cityName"
    />
    <br />
    <button class="sixth">Search</button>
  </form>
</div>

<div class="container">
  <div class="subcontainer1">
    <img src="assets/images/dayhot.JPG" *ngIf="weatherData.main.temp > 15" />
    <img src="assets/images/night.JPG" *ngIf="weatherData.main.temp <= 15" />
    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">{{ weatherData.main.temp }} ℃</div>
    </div>
  </div>
  <div class="subcontainer2">
    <h4>More information</h4>

    <div class="add-info">
      <div class="min">
        <br />
        <span
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
          "
        >
          <img
            src="./assets/images/cold.png"
            style="width: 50px; height: 50px"
          />
          <h5>{{ weatherData.main.temp_min }} ℃</h5></span
        >
      </div>
      <div class="max">
        <br />
        <span
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
          "
        >
          <img
            src="./assets/images/thermometer.png"
            style="width: 50px; height: 50px"
          />
          <h5>{{ weatherData.main.temp_max }} ℃</h5></span
        >
      </div>

      <div class="humidity">
        <br />
        <span
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
          "
        >
          <img
            src="./assets/images/humidity.png"
            style="width: 50px; height: 50px"
          />
          <h5>{{ weatherData.main.humidity }} %</h5>
        </span>
      </div>

      <div class="wind">
        <br />
        <span
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
          "
        >
          <img
            src="./assets/images/wind.png"
            style="width: 50px; height: 50px"
          />
          <h5>{{ weatherData.wind.speed }} Km/h</h5></span
        >
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
